<h1>
  <%= title %>
</h1>

<%- messages() %>

  <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error=> { %>
        <li>
          <%= error.msg %>
        </li>
        <% }) %>
    </ul>
    <% } %>

      <div class="inventory-container">
        <form action="/inv/update" method="post" id="updateForm">
          <p>ALL FIELDS ARE REQUIRED.</p>

          <label for="classificationList">Classification</label>
          <%- classificationSelect %>

            <label for="invMake">Make</label>
            <input type="text" name="inv_make" id="invMake" required placeholder="Min 3 characters"
              value="<%= locals.inv_make %>">

            <label for="invModel">Model</label>
            <input type="text" name="inv_model" id="invModel" required placeholder="Min 3 characters"
              value="<%= locals.inv_model %>">

            <label for="invDescription">Description</label>
            <textarea name="inv_description" id="invDescription" required><%= locals.inv_description %></textarea>

            <label for="invImage">Image Path</label>
            <input type="text" name="inv_image" id="invImage" required
              value="<%= locals.inv_image ? locals.inv_image : '/images/vehicles/no-image.png' %>">

            <label for="invThumbnail">Thumbnail Path</label>
            <input type="text" name="inv_thumbnail" id="invThumbnail" required
              value="<%= locals.inv_thumbnail ? locals.inv_thumbnail : '/images/vehicles/no-image.png' %>">

            <label for="invPrice">Price</label>
            <input type="number" name="inv_price" id="invPrice" required placeholder="decimal or integer"
              value="<%= locals.inv_price %>">

            <label for="invYear">Year</label>
            <input type="number" name="inv_year" id="invYear" required min="1900" max="2099"
              value="<%= locals.inv_year %>">

            <label for="invMiles">Miles</label>
            <input type="number" name="inv_miles" id="invMiles" required placeholder="digits only"
              value="<%= locals.inv_miles %>">

            <label for="invColor">Color</label>
            <input type="text" name="inv_color" id="invColor" required value="<%= locals.inv_color %>">

            <button type="submit" id="updateBtn" disabled>Update Vehicle</button>

            <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
              <% } %>>
        </form>
        <script src="../../js/inv-update.js"></script>
      </div>